/* Reset & fonts */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit',sans-serif;
}

/* Body styling */
body {
    background-color: #d5e1ef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card design /*
.card {
    background-color: white;
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

/* QR code image */
.qr-image {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;

}

/* Heading */
.card h2{
    font-size: 18px;
    font-weight: 700;
    color: #1f3251;
    margin-bottom: 12px;
}

/* Paragraph text */
.card p {
    font-size: 15px;
    color: #7b878d;
}
